@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

.create_character_container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: fit-content;
    align-items: center;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    background-color: #FFE5B4;
    border: 3px solid #672d0e;
}

.create_character_container h1 {
    color: #672d0e;
}

.create_character_container form {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
}

.sweetalert-text-style {
    font-family: "Pixelify Sans", sans-serif;;
    font-weight: 600 !important;
    font-size: 18px !important;
    color: #222 !important;
    letter-spacing: 0.5px;
}

.titleAlert {
    font-family: "Pixelify Sans", sans-serif;;
    color: #222;
}

.titleContent {
    font-family: "Pixelify Sans", sans-serif;;
    font-size: 16px;
    color: #555;
}

.alertConfirmButton {
    background-color: #ff4081;
    color: white;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 6px;
    border: none;
    font-family: "Pixelify Sans", sans-serif;;

}

.alertCancelButton {
    background-color: #ccc;
    color: #333;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 6px;
    border: none;
    font-family: "Pixelify Sans", sans-serif;;

}

