.characterCard{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    background-color: #FFE5B4;
    border: 3px solid #672d0e;
}

p{
    color: #672d0e;
}

img {
    width: 64px;
    
}
