/* RESET DE CSS: */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6, p, img, a, link, button, input, select, label {
  text-decoration: none;
  font-family: "Pixelify Sans", sans-serif;;
  margin: 1px;
  padding: 1px;
}

body {
  background-image: url("https://wallpapers.com/images/hd/stardew-valley-2560-x-1440-background-gkvzx4cplgse4ymy.jpg");
  background-size: 100%;
}
